{% extends 'base.html' %}
{% load static %}
{% block title %}After Checkout{% endblock %}

{% block content %}

<main class="mt-5 pt-4">
    <div class="container wow fadeIn">
      <h2 class="my-5 h2 text-center">Información de pago</h2>
      <div class="row">
        <div class="col-md-12 mb-4">
            <div class="card">
                    <div class="text-center m-5" style="font-size:20px;">
                        Su orden fue enviada.<br> Lo antes posible alguien lo estara contactando
                        para confirmar su orden.
                    </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}